$color-background: #f5f5f5;
$color-border: #a9a9a9;
$color-light: #ffffff;
$color-textarea: #5c5c5c;
$color-text: #969696;
$color-primary: #8fa995;
$key-shadow: -1px -1px 2px #e8e5e5, 1px 1px 2px #c2c2c2;
$press-shadow: inset -1px -1px 2px #e8e5e5, inset 1px 1px 2px #c2c2c2;